openapi: 3.2.0
info:
  description: Official OpenAPI Specification for IPinfo's comprehensive IP intelligence API.
  version: 1.0.0
  title: IPinfo.io OpenAPI Specification ipinfo lite API
  contact:
    name: IPinfo
    email: support@ipinfo.io
    url: https://ipinfo.io/
servers:
- url: https://ipinfo.io/
- url: https://v6.ipinfo.io/
- url: https://api.ipinfo.io/
tags:
- name: ipinfo lite
  description: IPinfo Lite API - IPinfo's free API service for country and ASN information.
  externalDocs:
    description: Find more info here
    url: https://ipinfo.io/lite
paths:
  /lite/me:
    get:
      tags:
      - ipinfo lite
      summary: IPinfo Returns Lightweight IP Information About the Current IP
      description: Returns lightweight IP information about the current IP including ASN details, country, and continent information.
      operationId: getCurrentLiteInformation
      servers:
      - url: https://api.ipinfo.io/
      security:
      - BasicAuth: []
      - BearerAuth: []
      - ApiKeyAuth: []
      responses:
        '200':
          $ref: '#/components/responses/LiteResponse'
        '403':
          $ref: '#/components/responses/LiteForbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /lite/{ip}:
    get:
      tags:
      - ipinfo lite
      summary: IPinfo Returns Lightweight IP Information About the Provided IP
      description: 'Returns lightweight IP information about the provided IP including ASN details, country, and continent information. For bogon/private IPs, returns a response with bogon: true.'
      operationId: getLiteInformationByIp
      servers:
      - url: https://api.ipinfo.io/
      - url: https://v4.api.ipinfo.io/
      - url: https://v6.api.ipinfo.io/
      security:
      - BasicAuth: []
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/Ip'
      responses:
        '200':
          description: Lite response object or bogon response.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/LiteResponse'
                - $ref: '#/components/schemas/LiteBogonResponse'
        '400':
          $ref: '#/components/responses/LiteBadRequest'
        '403':
          $ref: '#/components/responses/LiteForbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /lite/me/{field}:
    get:
      tags:
      - ipinfo lite
      summary: IPinfo Returns a Specific Field from Lightweight IP Information About the…
      description: Returns a specific field from lightweight IP information about the current IP.
      operationId: getCurrentLiteField
      servers:
      - url: https://api.ipinfo.io/
      - url: https://v4.api.ipinfo.io/
      - url: https://v6.api.ipinfo.io/
      security:
      - BasicAuth: []
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/LiteField'
      responses:
        '200':
          $ref: '#/components/responses/LiteField'
        '403':
          $ref: '#/components/responses/LiteForbidden'
        '404':
          $ref: '#/components/responses/LiteInvalidField'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /lite/{ip}/{field}:
    get:
      tags:
      - ipinfo lite
      summary: IPinfo Returns a Specific Field from Lightweight IP Information About the…
      description: Returns a specific field from lightweight IP information about the provided IP.
      operationId: getLiteFieldByIp
      servers:
      - url: https://api.ipinfo.io/
      - url: https://v4.api.ipinfo.io/
      - url: https://v6.api.ipinfo.io/
      security:
      - BasicAuth: []
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/Ip'
      - $ref: '#/components/parameters/LiteField'
      responses:
        '200':
          $ref: '#/components/responses/LiteField'
        '400':
          $ref: '#/components/responses/LiteBadRequest'
        '403':
          $ref: '#/components/responses/LiteForbidden'
        '404':
          $ref: '#/components/responses/LiteInvalidField'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    LiteBogonResponse:
      type: object
      required:
      - ip
      - bogon
      properties:
        ip:
          type: string
          example: 192.168.1.1
        bogon:
          type: boolean
          example: true
    Error500:
      type: string
      example: Internal server error
    LiteResponse:
      type: object
      required:
      - ip
      - asn
      - as_name
      - as_domain
      - country_code
      - country
      - continent_code
      - continent
      properties:
        ip:
          type: string
          example: 8.8.8.8
        asn:
          type: string
          example: AS15169
        as_name:
          type: string
          example: Google LLC
        as_domain:
          type: string
          example: google.com
        country_code:
          type: string
          example: US
        country:
          type: string
          example: United States
        continent_code:
          type: string
          example: NA
        continent:
          type: string
          example: North America
    LiteErrorInvalidField:
      type: object
      required:
      - error
      properties:
        error:
          type: string
          example: invalid_field is not a valid field.
    LiteErrorForbidden:
      type: object
      required:
      - status
      - error
      properties:
        status:
          type: integer
          example: 403
        error:
          type: object
          required:
          - title
          - message
          properties:
            title:
              type: string
              example: Unknown token
            message:
              type: string
              example: Please ensure you've entered your token correctly. Refer to https://ipinfo.io/developers for details, or contact us at support@ipinfo.io for help
    LiteErrorBadRequest:
      type: object
      required:
      - error
      properties:
        error:
          type: string
          example: Please provide a valid IP address
  responses:
    InternalServerError:
      description: Internal server error or server unavailable.
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/Error500'
    LiteResponse:
      description: Lite response object.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LiteResponse'
    LiteForbidden:
      description: Forbidden error (authentication issues).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LiteErrorForbidden'
    LiteBadRequest:
      description: Bad request error (invalid IP format).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LiteErrorBadRequest'
    LiteField:
      description: A specific field value from the lite response.
      content:
        text/plain:
          schema:
            type: string
            example: United States
    LiteInvalidField:
      description: Invalid field name error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LiteErrorInvalidField'
  parameters:
    LiteField:
      name: field
      in: path
      description: A specific field from the lite response (ip, asn, as_name, as_domain, country_code, country, continent_code, continent).
      required: true
      schema:
        type: string
        enum:
        - ip
        - asn
        - as_name
        - as_domain
        - country_code
        - country
        - continent_code
        - continent
    Ip:
      name: ip
      in: path
      description: A single IPv4 or IPv6 IP address.
      required: true
      schema:
        type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    BearerAuth:
      type: http
      scheme: bearer
    ApiKeyAuth:
      type: apiKey
      in: query
      name: token
externalDocs:
  description: IPinfo Developers Portal / Documentation
  url: https://ipinfo.io/developers
