openapi: 3.2.0
info:
  description: Official OpenAPI Specification for IPinfo's comprehensive IP intelligence API.
  version: 1.0.0
  title: IPinfo.io OpenAPI Specification ipinfo max API
  contact:
    name: IPinfo
    email: support@ipinfo.io
    url: https://ipinfo.io/
servers:
- url: https://ipinfo.io/
- url: https://v6.ipinfo.io/
- url: https://api.ipinfo.io/
tags:
- name: ipinfo max
  description: IPinfo Max API - Most comprehensive IP intelligence with residential proxy detection.
  externalDocs:
    description: Find more info here
    url: https://ipinfo.io/developers/max-api
paths:
  /max/{ip}:
    get:
      tags:
      - ipinfo max
      summary: IPinfo Returns Max API Information About the Provided IP
      description: Returns the most comprehensive IP intelligence, including geolocation, ASN, privacy detection (VPN, proxy, Tor, relay, residential proxy), carrier data, and network flags for advanced threat analysis and bot detection.
      operationId: getMaxInformationByIp
      servers:
      - url: https://api.ipinfo.io/
      - url: https://v4.api.ipinfo.io/
      - url: https://v6.api.ipinfo.io/
      security:
      - BasicAuth: []
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/Ip'
      responses:
        '200':
          description: Max API response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxResponse'
        '400':
          $ref: '#/components/responses/PlusBadRequest'
        '403':
          $ref: '#/components/responses/PlusForbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    PlusErrorForbidden:
      type: object
      required:
      - status
      - error
      properties:
        status:
          type: integer
          example: 403
        error:
          type: object
          required:
          - title
          - message
          properties:
            title:
              type: string
              example: Unknown token
            message:
              type: string
              example: Please ensure you've entered your token correctly. Refer to https://ipinfo.io/developers for details, or contact us at support@ipinfo.io for help
    PlusErrorBadRequest:
      type: object
      required:
      - error
      properties:
        error:
          type: string
          example: Please provide a valid IP address
    Error429:
      type: object
      required:
      - title
      - message
      properties:
        title:
          type: string
          example: Rate limit exceeded
        message:
          type: string
          example: Upgrade to increase your usage limits at https://ipinfo.io/pricing, or contact us via https://ipinfo.io/support
    MaxResponse:
      type: object
      required:
      - ip
      - geo
      - as
      - anonymous
      properties:
        ip:
          type: string
          example: 1.0.126.158
        hostname:
          type: string
          example: 158.126.0.1.megaegg.ne.jp
        geo:
          type: object
          properties:
            city:
              type: string
              example: Izumo
            region:
              type: string
              example: Shimane
            region_code:
              type: string
              example: '32'
            country:
              type: string
              example: Japan
            country_code:
              type: string
              example: JP
            continent:
              type: string
              example: Asia
            continent_code:
              type: string
              example: AS
            latitude:
              type: number
              example: 35.36667
            longitude:
              type: number
              example: 132.76667
            timezone:
              type: string
              example: Asia/Tokyo
            postal_code:
              type: string
              example: 693-0001
            dma_code:
              type: string
              example: '501'
            geoname_id:
              type: string
              example: '1861084'
            radius:
              type: integer
              example: 50
            last_changed:
              type: string
              format: date
              example: '2026-03-22'
        as:
          type: object
          properties:
            asn:
              type: string
              example: AS18144
            name:
              type: string
              example: Enecom,Inc.
            domain:
              type: string
              example: enecom.co.jp
            type:
              type: string
              example: business
            last_changed:
              type: string
              format: date
              example: '2021-05-01'
        mobile:
          type: object
        anonymous:
          type: object
          properties:
            name:
              type: string
              example: Ping Proxies
            last_seen:
              type: string
              format: date
              example: '2026-03-29'
            percent_days_seen:
              type: integer
              example: 63
            is_proxy:
              type: boolean
              example: false
            is_relay:
              type: boolean
              example: false
            is_tor:
              type: boolean
              example: false
            is_vpn:
              type: boolean
              example: false
            is_res_proxy:
              type: boolean
              example: true
        is_anonymous:
          type: boolean
          example: true
        is_anycast:
          type: boolean
          example: false
        is_hosting:
          type: boolean
          example: false
        is_mobile:
          type: boolean
          example: false
        is_satellite:
          type: boolean
          example: false
    Error500:
      type: string
      example: Internal server error
  responses:
    TooManyRequests:
      description: Allocated API rate limit has been reached for the token. The user will be prompted with options to increase their API limit.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error429'
    InternalServerError:
      description: Internal server error or server unavailable.
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/Error500'
    PlusForbidden:
      description: Forbidden error (authentication issues).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PlusErrorForbidden'
    PlusBadRequest:
      description: Bad request error (invalid IP format).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PlusErrorBadRequest'
  parameters:
    Ip:
      name: ip
      in: path
      description: A single IPv4 or IPv6 IP address.
      required: true
      schema:
        type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    BearerAuth:
      type: http
      scheme: bearer
    ApiKeyAuth:
      type: apiKey
      in: query
      name: token
externalDocs:
  description: IPinfo Developers Portal / Documentation
  url: https://ipinfo.io/developers
